:root{
    --main-bg-color:rgb(182, 216, 226);
    --face: rgb(182, 216, 226);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: tipografiaPokemon;
    src: url(./tipografia.ttf);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--main-bg-color);
    align-content: center;
}

.title{
    position: absolute;
    color: rgb(222, 7, 48);
    top: -2vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-family: tipografiaPokemon;
    font-size: 4.2vh;
    z-index: 0;
}

.cuerpo{
    position: relative;
    bottom: 1vh;
    background-color: rgb(222, 7, 48);
    left: 2vw;
    z-index: 1;
    width: 60vh;
    height: 80vh;
    border-radius: 1% ;
    border: 4px solid rgb(27, 27, 27);
}

.cuerpo2{
    position: absolute;
    bottom: -0.4vh;
    background-color: rgb(190, 7, 41);
    left: -0.4vh;
    z-index: 2;
    width: 60vh;
    height: 16vh;
    border-radius: 1% ;
    border: 4px solid rgb(27, 27, 27);
}

.cuerpo3{
    position: absolute;
    top: -0.4vh;
    background-color: rgb(190, 7, 41);
    left: -0.4vh;
    z-index: 3;
    width: 60vh;
    height: 40vh;
    border-radius: 1% ;
    border: 4px solid rgb(27, 27, 27);
}

.circulo{
    position: absolute;
    bottom: 1.6vh;
    background-color: rgb(58, 171, 249);
    left: 45vh;
    z-index: 4;
    width: 12vh;
    height: 12vh;
    border-radius: 100% ;
    border: 4px solid rgb(27, 27, 27);
}

.cruceta{
    width: 3vh;
    height: 12vh;
    position: absolute;
    bottom: 22vh;
    left: 10vh;
    background-color: rgb(53, 53, 53);
    z-index: 5;
}

.crucetaH{
    width: 3vh;
    height: 12vh;
    position: absolute;
    bottom: 0vh;
    left: 0vh;
    transform: rotate(90deg);
    background-color: rgb(53, 53, 53);
    z-index: 6;
}

.botonCentral{
    width: 3vh;
    height: 12vh;
    position: absolute;
    bottom: 28vh;
    left: 28.6vh;
    transform: rotate(90deg);
    background-color: rgb(53, 53, 53);
    z-index: 7;
}

.botonCentralL{
    width: 3vh;
    height: 3vh;
    position: absolute;
    bottom: -0.8vh;
    left: 0vh;
    transform: rotate(90deg);
    background-color: rgb(53, 53, 53);
    z-index: 8;
    border-radius: 100%;
}

.botonCentralR{
    width: 3vh;
    height: 3vh;
    position: absolute;
    bottom: 11vh;
    left: 0vh;
    transform: rotate(90deg);
    background-color: rgb(53, 53, 53);
    z-index: 9;
    border-radius: 100%;
}

.botonBusqueda{
    width: 3vh;
    height: 12vh;
    position: absolute;
    bottom: 20vh;
    left: 28.6vh;
    transform: rotate(90deg);
    background-color: rgb(53, 53, 53);
    z-index: 10;
}

.botonBusquedaL{
    width: 3vh;
    height: 3vh;
    position: absolute;
    bottom: -0.8vh;
    left: 0vh;
    transform: rotate(90deg);
    background-color: rgb(53, 53, 53);
    z-index: 11;
    border-radius: 100%;
}

.botonBusquedaR{
    width: 3vh;
    height: 3vh;
    position: absolute;
    bottom: 11vh;
    left: 0vh;
    transform: rotate(90deg);
    background-color: rgb(53, 53, 53);
    z-index: 12;
    border-radius: 100%;
}

.boton1{
    position: absolute;
    bottom: 26vh;
    left: 42vh;
    background-color: rgb(53, 53, 53);
    z-index: -1;
    width: 5vh;
    height: 5vh;
    border-radius: 100%;
    z-index: 13;
}

.boton2{
    position: absolute;
    bottom: 26vh;
    left: 50vh;
    background-color: rgb(53, 53, 53);
    z-index: -1;
    width: 5vh;
    height: 5vh;
    border-radius: 100%;
    z-index: 14;
}

.bordePantalla{
    position: absolute;
    width: 40vh;
    height: 30vh;
    top: 4vh;
    left: 10vh;
    background-color: rgb(53, 53, 53);
    z-index: 15;
    border-radius: 0.6vh;
    align-content: center;
}

.cajaTexto{
    position: absolute;
    bottom: 5.6vh;
    left: -4.2vh;
    z-index: 16;
    transform: rotate(270deg);
}

.botonBuscar{
    position: absolute;
    top: 1.4vh;
    left: 0.6vh;
    z-index: 17;
}

.pantallaResultado{
    position: absolute;
    width: 34.5vh;
    height: 25.4vh;
    background-color: rgb(241, 243, 215);
    border-radius: 0.4vh;
    left: 2.6vh;
    top: 2.4vh;
    z-index: 18;
}

#nombre{
    background-color: rgb(53, 53, 53);
    color: rgb(170, 170, 170);
    width: 11.2vh;
    border-width: 0px;
    text-align: center;
    z-index: 19;
}

#busqueda{
    background-color: rgb(53, 53, 53);
    color: rgb(170, 170, 170);
    font-size: 1.1vh;
    border-width: 0.1vh;
    z-index: 5;
    z-index: 20;
}

#imageP{
    position: absolute;
    left: 1.2vh;
    top: 5.6vh;
    width: 12vh;
    z-index: 21;
}

.resultados{
    position: absolute;
    left: 13.8vh;
    top: 5.6vh;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#tipo{
    position: absolute;
    left: 6vh;
    top: 0vh;
}

#ability{
    position: absolute;
    left: 10.3vh;
    top: 1.8vh;
    width: 12vh;
}

#hp{
    position: absolute;
    left: 3.4vh;
    top: 3.7vh;
}

#attack{
    position: absolute;
    left: 7.3vh;
    top: 5.6vh;
}

#deffense{
    position: absolute;
    left: 8.1vh;
    top: 7.5vh;
}

#special{
    position: absolute;
    left: 9.2vh;
    top: 9.3vh;
}

#nombreP{
    position: absolute;
    left: 6vh;
    top: 22vh;
    font-family: 'Courier New', Courier, monospace;
    z-index: 22;
    font-weight: bold;
}